* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

.title {
    background-color: lightskyblue;
    text-align: center;
}

.directions {
    background-color:lightgray;
    text-align: center;
}

.crystalgoal {
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.winLossCount {
    background-color: lightskyblue;
    padding: 20px;
    font-weight: bold;
}

.totalScoreIs {
    background-color: lightskyblue;
    text-align: center;
}

.yourScoreIs {
    background-color:lightgray;
    text-align: center;
    height: 100px;
    padding-top: 35px;
}

.pic {
    margin-left: 80px;
}

.blank {
    background-color: lightgray;
}
